* {
    font-family: 'Roboto', sans-serif;
}

/* body {
    padding: 10px;
    background-image: url(../img/japan.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
} */